.contact-container{
    height: 500px;

    background-color: #FCFAF5;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    gap: 300px;
}

.left-side-contact{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.contact-image{
    width: 420px;
    height: 360px;
    border: none;
    border-radius: 10px;

}